/* Estilos para la primera sección */
#sec1 {
    background-color: #3E92CC;
    color: #FFF;
    padding: 20px;
}

#sec1 p {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilos para la segunda sección */
#sec2 {
    background-color: #F8C328;
    color: #333;
    padding: 20px;
}

#sec2 p {
    font-size: 18px;
    line-height: 1.5;
}
/* Estilo para el encabezado de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0099cc; /* Azul claro */
    color: #fff; /* Texto blanco */
}

/* Estilo para filas pares e impares */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris claro para filas pares */
}

/* Estilo para las celdas de la primera columna (País) */
td:first-child {
    background-color: #0099cc; /* Mismo color del encabezado */
    color: #fff;
    font-weight: bold;
}

/* Estilo para las celdas de la última columna (Estancia) */
td:last-child {
    background-color: #0099cc;
    color: #fff;
    font-weight: bold;
}

/* Estilo para enlaces dentro de la tabla */
a {
    text-decoration: none;
    color: #0077b6; /* Azul más oscuro para enlaces */
}

/* Al pasar el cursor sobre las filas, cambia el color de fondo */
tr:hover {
    background-color: #cce5ff; /* Azul claro al pasar el cursor */
}

h1{
    text-align: center;
    background-color: #3E92CC;
    color: whitesmoke;
}
form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
}
input[type="submit"] {
    background-color: #1565c0; /* Azul surf */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}

input[type="submit"]:hover {
    background-color: #0d47a1; /* Azul surf más oscuro al pasar el cursor */
}

#H2{
    text-align: center;
    background-color: #3E92CC;
    color: whitesmoke;
}

header {
    background-color: skyblue; /* Fondo azul cielo */
    padding: 10px; /* Añade un espacio alrededor del contenido */
    text-align: center; /* Centra el contenido del header */
    margin: 5px 0;
    color: aquamarine;
    
}

header a {
    color: #FFA500; /* Color de texto ocre */
    text-decoration: none; /* Elimina la subraya de los enlaces */
    font-family: "Arial", sans-serif; /* Cambia el estilo de fuente */
    font-size: 18px; /* Tamaño de fuente */
    margin: 0 10px; /* Espacio entre enlaces */
    text-decoration: underline; 
    font-family: fantasy, "Cottonwood";
}